/nbproject/
/SpringData - Copy/nbproject/
/SpringData - Copy/target/
/Hibernate/nbproject/
/Hibernate/target/
/SpringDataEclipseLink/nbproject/
/SpringDataEclipseLink/target/
/Aspects/nbproject/
/Aspects/target/
/SpringDataEclipseLink - Copy/target/
/SpringDataJdbc/target/
/SpringData/target/
/SpringData/nbproject/
/SpringDataEL/nbproject/
/SpringDataEL/target/
/SpringDataDefault/nbproject/
/SpringDataDefault/target/
/ModernHibernate/target/
